
@use "./../abstract";

/* Error Page css */

.error-page{
    & .section-content-box{
        & .error-image{
            margin-bottom: 90px;
        }
        & h1{
            margin-bottom: 30px;
            font-size: 52px;
            line-height: 1.1;
            @include respond(tablet){
                line-height: 1.2;
            }
            @include respond(xm){
                line-height: 1.3;
            }
            @include respond(phone){
                font-size: 32px;
            }
        }
        & h5{
            font-size: $font-18;
            font-weight: 500;
            color: $text-color;
            max-width: 525px;
            margin: 0 auto 30px;
            line-height: 32px;
        }
        & .theme-btn{
            &.style-one{
                font-size: 16px;
                font-weight: 700;
                padding: 22px 50px;
            }
        }
    }
}
